<p>You are logged in! Your id is <strong><%- req.session.user.id %></strong>, your Facebook Id is <strong><%- req.session.user.user_id %></strong> and your name is <strong><%- req.session.user.name %></strong></p>
<p><a href="/user/logout">Logout</a></p>
